* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
}

.anasayfa {
  background-color: #ce2829;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ortak {
  background-color: #ce2829;
  padding: 10px;
  padding: 3%;
}

.ortak li {
  list-style-type: none;
}

.aciktim {
  border-radius: 40px;
  background-color: #fdc913;

  border: 8px solid #fdc913;
  padding: 5px 30px;
}
.anasayfa p {
  color: white;
  font-size: 3.5rem;
  padding: 3px;
}

.anasayfa_p p {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Quattrocento", serif;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

h3,
li,
h2,
h4 {
  font-family: "Quattrocento", serif;
}

.anasayfa_p {
  padding: 8px;
  font-family: "Barlow", sans-serif;
  margin: 0;
}

.anasayfa img {
  min-height: 500px;
}

.anasayfa_p p {
  margin: 0;
}
